<!DOCTYPE html>
<html lang="en">

<head>
  <title>Burgers Inc.</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/menu.js"></script>
</head>
</div>


<body>


  <div id="container">

    <div id="header_image">
      <img src="https://imagizer.imageshack.com/img924/5844/5PE59G.png" id="heads" width="100%">
    </div>

    <div id="header_title">
      <h1>Welcome to Burgers Inc.!</h1>
    </div>

  </div>

  <main>
    <section id="burger-section">

      <h2> Our burgers </h2>
      <p> At Burgers Inc. we promote the best of our burgers online each month. <br />
        Here are the current ones! We are now offering a free alcohol gel to every customer. </p>


      <div id="menu" class="wrapper">
        <div v-for="(x, index) in food">
          <br>
          <br>
          <h2> {{ x.name }} </h2>
          <img :src="x.img">
          <ul>
            <li> {{x.meat}} </li>
            <li> {{x.special}} </li>
            <li> {{x.kCal}} </li>
            <li> {{x.allergy}} </li>
          </ul>
          <input type="checkbox" v-model="array" v-bind:value="x.name">
          <!-- <input type="checkbox" value="" v-model="categories" v-on:click="orderedAll()">
          Order all! -->
          {{x.name}}
        </div>


       <h4> You have ordered (✔): <br>
        {{ array[0] }} <br>
        {{ array[1] }} <br>
        {{ array[2] }} <br>
        {{ array[3] }} <br>
        {{ array[4] }} <br> </h4> 
       

      </div>

    </section>

    <section id="info">

      <h3> Customer information </h3>
      <p> Please enter your information. </p>

      <div class="my-form">
        <form>

          <p></p>


          <div id="app2">

            <p></p>
            <label for="firstname"> First </label><br>
            <input v-model="personalInfo1" type="text" id="firstname" name="fn" required="required"
              placeholder="First name" />

            <p></p>
            <label for="lastname"> Last </label><br>
            <input v-model="personalInfo2" ype="text" id="lastname" name="ln" placeholder="Last name" />

            <p></p>
            <label for="email"> Email </label><br>
            <input v-model="personalInfo3" type="email" id="Email" name="em" required="required"
              placeholder="E-mail address" />


            <p></p>
            <label for="payment"> Payment</label><br />
            <select v-model="personalInfo6" id="payment" name="pym">
              <option v-for="payment in payments">{{ payment }}</option>
            </select>

            <p></p>
            <label for="radio"> Gender</label><br />
            <input type="radio" value="Male" v-model="gender">
            <label for="male">Male</label>

            <input type="radio" value="Female" v-model="gender">
            <label for="female">Female</label>

            <input type="radio" value="Other" v-model="gender">
            <label for="other">Other</label>

            <h4>Summarize</h4>

            <p>Name: {{ personalInfo1 }} {{ personalInfo2 }} </p>
            <p>Email: {{ personalInfo3 }} </p>
            </p>
            <p>Choice of payment: {{ personalInfo6 }}</p>
            <p>Gender: {{ gender }}</p>
           
          </div>

          <p><em>Please check that the information above is correct.</em></p>

        </form>
      </div>



      <div>
        <h4> Mark your delivery adress in the map:</h4>
        <div class="view-box">

          <div id="dots" v-on:click="displayOrder">
            <div v-bind:style="{ left: localOrder.details.x + 'px', top: localOrder.details.y + 'px'}">
              {{ localOrder.target  }}
            </div>
          </div>
        </div>
      </div>

      <p> </p>
      <h4>Place order!</h4>
      <div class="my-form">
        <button v-on:click="addOrder" id="button" class="submit">{{ message }}</button>
      </div>

    </section>


  </main>
  <footer>
    <hr>
    &copy; 2020 Burgers Inc.
    <p><img src="https://imagizer.imageshack.com/img923/6663/G3tvCm.gif" alt="Monkey" title="Another in-line element"
        width="200"> visitors since the previous counter reset.</p>
  </footer>
  <script src="https://vuejs.org/js/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <!--<script src="js/dispatcher.js" defer></script>
  -->
  <script src="js/vue_script.js" defer></script>
  <link rel="stylesheet" href="css/deli-very.css">
</body>

</html>