
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burgers Inc.</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
    <h1>Welcome to Burgers Inc.!</h1>
    <section>
      <h2> Our burgers </h2>
      <p> At Burgers Inc. we promote 3 of our burgers  online each month. <br />
        Here are the current ones! Select one of your choosing to order. </p>
      </section>
<section>
          <table>
                <thead>
                    <tr>
                        <th>The Scary One </th>
                                <img src="https://i.pinimg.com/originals/97/9b/8b/979b8b49c4e0cd910087653bcf6f884b.jpg" alt="Scary" title="Another in-line element" width="100">
                        <th>The French One</th>
                          <img src="https://i.pinimg.com/originals/90/d0/38/90d038fc4c36eb13ebf8a4cd01f56edb.jpg" alt="French" title="Another in-line element" width="133">
                        <th>The Trump One </th>
                                      <img src="http://media4.xn--ihuvudetpevap-xfb.se/2016/11/IMG_1402.jpg" alt="Trump" title="Another in-line element" width="200">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <ul>
                              <li> Vegan Beef</li>
                              <li> Beans </li>
                              <li> Contains nuts</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                              <li> Finest Meat</li>
                              <li> Camembert </li>
                              <li> Contains lactose</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                              <li> Probably meat</li>
                              <li>  E450, E251, E452</li>
                              <li> Contains cholesterol</li>
                          </ul>
                    <tr>
                        <td>Price:</td>
                        <td>$5</td>
                        <td>$20</td>
                        <td>$7</td>
                    </tr>
                </tbody>
            </table>
</section> 
    <section>
      <h3> Customer information </h3>
      <p> Please enter your information. </p>
      </section>
  </main>
  <footer>
     <hr>
     &copy; 2020 Burgers Inc.
     <p><img src="https://imagizer.imageshack.com/img923/6663/G3tvCm.gif" alt="Monkey" title="Another in-line element" width="200"> visitors since the previous counter reset.</p>
    </footer>
  </body>
  </html>
