body{
  background-color: #f4f4f4;
  color: #555555;
  font-family: /*Helvetica, Arial, sans-serif;*/
  /*"Lucida Console", Monaco, monospace*/
  Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: normal; /*400;*/
  /* font: normal 16px Arial, Helvetica, sans-serif */

  line-height: 1.6em; /* 3px */

}

.box-1{
  border: 5px white dotted;
  /*padding: 5px;*/
  width: 610px;
  background-color: #333;
  color: #A9A9A9;
}

.my-form{ /*input[type="text"], my-form textarea{*/
  padding-left: 30px;
  width: 100%;

}

.my-header{ /*input[type="text"], my-form textarea{*/
  padding-top: 7px;
  padding-left: 2px;
  width: 100%;

}
